<!DOCTYPE html>
<html>

<head>
  <title>vue-form example</title>
  <meta charset="utf-8" />
  <style>
    label {
      display: block;
      margin-bottom: 1.5em;
    }

    label>span {
      display: inline-block;
      width: 8em;
      vertical-align: top;
    }
  </style>
</head>

<body>
  <div id="app">


      <label>
        <span>Non validated</span>
        <input name="foo2" type="text" />
      </label>


    <vue-form :state="formstate" v-model="formstate" @submit.prevent="onSubmit">

      <button type="button" @click="isReq = !isReq">Toggle</button>
      <button type="button" @click="changeStuff">Change stuff</button>
      <br><br><br>

      <!--
            <label>
                <span>Name *</span>
                <validate :required="isReq" min-length="10" max-length="40" pattern="/sdfsdffd/">
                    <input v-model="model.name" name="name" />
                </validate>
            </label>

            <label>
                <span>Email *</span>
                <validate required>
                    <input v-model="model.email" name="email" type="email" />
                </validate>
            </label>

            <label>
                <span>component</span>
                <validate required>
                    <test v-model="model.name" name="foobar"></test>
                </validate>
            </label>

            ====================

                <form-error :field="formstate.name" error="required">Name is a required field 2</form-error>
                <form-error :field="formstate.name" error="minlength">Min length is not satisfied</form-error>

                <form-errors :field="formstate.name">
                    <div slot="pattern">Pattern don't match</div>
                    <div slot="required">Field is required</div>
                    <div slot="minlength">minlength not satisfied</div>
                </form-errors>
            <validate tag="label">
        <span>testcomp</span>
        <test v-model="model.testcomp" :minlength="minLength" :required="isReq" name="testcomp"></test>
      </validate>
            <validate tag="label" :custom="customA">
        <span>foo</span>
        <input name="name" type="text" v-model="model.name" :required="isReq" />
      </validate>

      <validate tag="div">
        Checkbox array <br>
        <input type="checkbox" value="Jack" v-model="multicheck" required name="multicheck"/>
        <input type="checkbox" value="John" v-model="multicheck" required name="multicheck"/>
        <input type="checkbox" value="Mike" v-model="multicheck" required name="multicheck"/>
      </validate>

      <validate tag="div">
        Radios <br>
        <input type="radio" value="Jack" v-model="radio" required name="radio"/>
        <input type="radio" value="John" v-model="radio" required name="radio"/>
        <input type="radio" value="Mike" v-model="radio" required name="radio"/>
      </validate>

      <validate tag="label">
          <span>Name</span>
          <span>
            <input :minlength="3" v-model="model.name" name="name" :required="isReq" pattern="foo" />
          </span>
      </validate>
  -->
      <validate tag="label" :custom="{customA: customA, customB: customB}">
        <span>foo</span>
        <input name="foo" type="text" v-model="model.foo" :required="isReq" pattern="foo" />
      </validate>

      <form-errors field="foo" show="$dirty">
          <div slot="required">Field is required</div>
      </form-errors>

      <form-error field="foo" error="pattern">pattern doesn't match</form-error>
      <form-error field="foo" error="required">required message 2</form-error>


      <validate>
        <test name="testcomp" v-model="model.testcomp" required></test>
      </validate>
      <!--
      <label>
          <span>Name</span>
          <validate>
            <input :minlength="3" v-model="model.name" name="name" :required="isReq" pattern="foo" />
          </validate>
      </label>

      <validate tag="label" v-if="isReq">
        <span>foo2</span>
        <input name="foo2" type="text" v-model="model.foo2" :required="isReq" />
      </validate>


            <label>
                <span>foo</span>
                <input name="foo" type="text" v-model="model.foo" required="false" />
            </label>

            <label>
                <span>Email</span>
                <input v-form v-model="model.email" name="email" type="email" :required="isReq" />
            </label>

            <label>
                <span>component</span>
                <test v-validate v-model="model.testcomp" :required="isReq" name="foobar"></test>
            </label>


            <label>
                <span>Request call back</span>
                <validate :model="model.contactRequired"><input v-model="model.contactRequired" type="checkbox" name="contactRequired" /></validate>
            </label>


            <label>
                <span>Contact details <span v-if="model.contactRequired">*</span></span>
                <textarea v-model="model.contact" :required="model.contactRequired" name="comments"></textarea>
            </label>

            <div v-if="model.contactRequired">
                <p>Extra contact fields</p>

                <label>
                    <span>3 digit code *</span>
                    <input v-model="model.code" name="code" type="text" pattern="[A-Za-z]{3}" required />
                </label>

            </div>
                    -->
      <button type="submit">Submit</button>
    </vue-form>

    <pre>{{formstate}}</pre>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../dist/vue-form.js"></script>
  <script>

//Vue.use(vueForm);

    vueForm.addValidator('people-picker-required', function (model, attrValue, vnode){
      if (model !== 'scot') {
        return false;
      }
      return true;
    });

    var vm = new Vue({
      el: '#app',
      mixins: [vueForm.mixin],
      components: {
        test: {
          props: {
            value: String,
            minlength: Number,
            required: Boolean,
            name: String
          },
          data() {
            return {
              internalValue: ''
            }
          },
          template: '<span>TEST<input @input="update" v-model="internalValue"  /></span>',
          created() {
            this.$watch('value', () => {
              this.internalValue = this.value;
            }, {
              immediate: true
            });
          },
          mounted () {
            this.$el.querySelector('input').addEventListener('focus', ()=>{
              this.$emit('focus');
            });
            this.$el.querySelector('input').addEventListener('blur', ()=>{
              this.$emit('blur');
            });
          },
          methods: {
            update() {
              this.$emit('input', this.internalValue);
            }
          }
        }
      },
      data: {
        isReq: true,
        minLength: 5,
        formstate: {},
        multicheck: [],
        radio: '',
        model: {
          foo: '',
          foo2: '',
          email: '',
          name: 'name',
          contact: '',
          testcomp: '',
          contactRequired: false
        }
      },
      methods: {
        debounced: _.debounce(function (value, resolve, reject) {
          console.log('do ajax');
          fetch('https://httpbin.org/get').then(function(response){
            resolve(value === 'ajax')
            return response.json();
          });
        }, 500),
        customA (value) {
          return new Promise((resolve, reject) => {
            this.debounced(value, resolve, reject);
          });
        },
        customB (value) {
          return new Promise((resolve, reject) => {
            //this.debounced(value, resolve, reject);
            fetch('https://httpbin.org/get').then(function(response){
              setTimeout(() => {
                resolve(value === 'ajax');
              }, 100);
              return response.json();
            });
          });
        },
        customC (value, done) {
          setTimeout(function () {
            done(value === 'async');
          }, 1000);
        },
        changeStuff: function() {
          this.isReq = !this.isReq;
          this.minLength = 10;
          this.model.name = this.model.name + 'foo';
        },
        onSubmit: function() {
          console.log(this.formstate.$valid);
        }
      }
    });
  </script>

</body>

</html>
